* {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}
/* GENERELT */
body {
  margin: 20px 25px;
}

section {
  margin-bottom: 6rem;
}

/* Farver */
html {
  --green: #c8fd18;
}

/* Fonte */
@font-face {
  font-family: myFont;
  src: url(Ayuthaya.ttf);
}

h1 {
  font-family: arial black;
  font-size: 14vw;
  margin-block: 10rem;
}

h2 {
  font-family: "aktiv-grotesk-arabic", sans-serif;
  /* font-size: 2rem; */
  font-size: clamp(2rem, 0.7864rem + 5.178vw, 7rem);
}
h3 {
  font-family: "aktiv-grotesk-arabic", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

p,
a {
  font-family: "aktiv-grotesk-arabic", sans-serif;
}

article {
  margin-bottom: 7rem;
}

/* FOOTER */
footer {
  border-top: solid 1px;
}
footer article {
  margin-block: 1rem 3rem;
}

.bold {
  font-weight: bold;
}

#numb {
  font-size: 6rem;
  color: black;
}

#link {
  color: black;
  text-decoration: underline;
}
#link_green {
  background-color: var(--green);
  padding-inline: 10px;
  text-decoration: underline;
  color: black;
}

/* Gap */

header {
  display: flex;
  justify-content: space-between;
}
.home a {
  color: black;
  font-size: 1.5rem;
  line-height: 25px;
}

/* BURGERMENU */

.main-menu ul {
  display: none; /* Fjern menu-listen som standard */
}
.main-menu.shown ul {
  /* Vis menu-listen, når klassen ".shown" er til stede */
  border-top: 1px solid #000;
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  text-align: end;
}
.btn_menu {
  background-color: black;
  border: none;
  width: 50px;
  height: 50px;
}
.btn_menu:hover {
  cursor: pointer;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

#landingpage {
  text-align: center;
}
#project_grid div {
  text-align: center;
  cursor: pointer;
}

#text_box {
  margin: auto;
  width: 85%;
}
.citat {
  line-height: 115%;
  font-size: clamp(2rem, 0.7864rem + 5.178vw, 7rem);
}

/* ABOUT */

.A {
  font-size: 8rem;
  line-height: 2rem;
}
/* #about_landingpage h2 {
  margin-bottom: -6rem;
} */
#about_article {
  background-color: var(--green);
  padding: 10px 20px;
}
.citat_about {
  line-height: 115%;
  font-size: clamp(2rem, 0.7864rem + 5.178vw, 7rem);
}

.cv_grid {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 30px;
  max-width: 60ch;
  margin: var(--space-m);
}
.uddannelse {
  grid-column: 2;
}

/* PROJECTS */

/* #project_box {
  display: flex;
  max-width: 500px;
} */
#project_text_container {
  padding: 20px;
  background-color: var(--green);
}

#fonten {
  font-family: monospace;
}
.project_subtitle {
  font-size: 0.9rem;
  text-align: center;
  color: white;
}
.project_text {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  color: white;
}

/* DESKTOP */

@media (min-width: 600px) {
  img {
    order: 1;
    display: flex;
  }
  #all_projects {
    display: none;
  }

  #project_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #project_grid div {
    margin-block: 11rem;
  }

  #project_flex {
    display: flex;
    justify-content: space-between;
    place-items: baseline;
  }

  #about_landingpage {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #text_box_about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
  }
  footer article {
    margin-block: 0;
  }
  footer article h3 {
    margin-block: 1rem 4rem;
  }
  #build_with {
    text-align: center;
  }
  #contact {
    text-align: right;
  }
}

@media (min-width: 900px) {
  #project_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cv_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
}
